/* import font */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");

/* custom variables */
:root {
	/* gradients */
	/* background*/
	--light-slate-blue: hsl(252, 100%, 67%);
	--light-royal-blue: hsl(241, 81%, 54%);
	/* circle */
	--violet-blue: hsla(256, 72%, 46%, 1);
	--persian-blue: hsla(241, 72%, 46%, 0);

	/* neutral */
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	-light-lavender: hsl(241, 100%, 89%);
	--dark-frey-blue: hsl(224, 30%, 27%);
}

/* general styles */
body {
	font: 1.125rem "Hanken Grotesk", sans-serif;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
