/* import font */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

/* custom variables */
:root {
	/* gradients */
	/* background*/
	--light-slate-blue: hsl(252, 100%, 67%);
	--light-royal-blue: hsl(241, 81%, 54%);
	/* circle */
	--violet-blue: hsla(256, 72%, 46%, 1);
	--persian-blue: hsla(241, 72%, 46%, 0);

	/* neutral */
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	--light-lavender: hsl(241, 100%, 89%);
	--dark-grey-blue: hsl(224, 30%, 27%);
}

/* general styles */
body {
	font-family: "Hanken Grotesk", sans-serif;
}

/* container styles */
/* result styles */
.result {
	background: linear-gradient(
		180deg,
		var(--light-slate-blue),
		var(--light-royal-blue) 66%
	);
	text-align: center;
	/* font-size: 1.25rem; */
}

.result__heading {
	font-size: 1.2rem;
	margin: 1rem 0;
}

.average__container {
	height: 8rem;
	width: 8rem;
	padding: 1rem;
	margin: 0 auto;
	border-radius: 50%;
	background-color: var(--light-royal-blue);
}

.average-number {
	font-size: 3rem;
	font-weight: 700;
}

.great {
	font-size: 1.5rem;
}

.result__text {
	width: 75%;
	margin: 0 auto;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
